h1 {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    color: white;
    
}

h2 {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    color: white
}
#artistname{
    padding-bottom: 0px;
    line-height: 10px;
}

#musicvideos{
    padding-bottom: 0px;
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    color: black
}

#musicvideosheader{
    color: black;
}

#lyricsheader{
    padding-bottom: 0px;
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    color: black}

    #lyrics{
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        color: black}

.jumbotron {
    background-color: black;
    color: white;
    text-align: center;

}

.searchbar {
        background-image: linear-gradient(rgba(0,0,0,1), rgba(255,0,0,0));
        align-items: center;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
      }
.placeholder {
        align-items: center;
        padding-left: 10px;
        font-family: 'Roboto', sans-serif;
        background-color: white;
      }

.artistinfo {
    
    height: 640px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20px;
    background-image:
    linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,0,0,0));
      }

.toptracks {
        height: 400px;
        padding-left: 20px;
        background-color: black;
          }

.musicvideos {
padding-left: 20px;
background-color: white;
}
   
p {
        font-family: 'Roboto', sans-serif;
        color: white;
        padding-top: -20px;
    }

li {
    color: white;
<<<<<<< HEAD
}
=======
    cursor: pointer;
}
>>>>>>> 968f60078d1b4d688d6522ae0e10cd9432a0ee48
